.htaccess
robots.txt
sitemap.xml
styles/styles-custom.css
datasets/config.inc.php
datasets/trash/*
versions/
test/
draft.md
config.inc.php
last.txt
wallpaper.css
counter.txt
!datasets/documents/.gitkeep
!datasets/trash/.gitkeep
!index.php
nav/scripts/wallpaper.txt
