.htaccess
robots.txt
sitemap.xml
styles/styles-custom.css
datasets/config.inc.php
datasets/trash/*
versions/
test/
draft.md
nav/datasets/config.inc.php
nav/scripts/last.txt
nav/styles/wallpaper.css
nav/scripts/counter.txt
!datasets/documents/.gitkeep
!datasets/trash/.gitkeep
!index.php
