.form-container {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.diaryText {
	font-size:1.5em;
	color:#00C0FF;
	text-shadow: 1px 1px 2px black;
}

table {
	border-collapse: collapse; /* 合并相邻单元格的边框 */
	border-spacing: 0; /* 设置单元格之间的间距为0 */
	margin: 0; /* 设置外边距为0 */
}
td, th { /* 对于所有td和th元素 */
	vertical-align: top; /* 垂直顶部对齐 */
	padding: 0; /* 设置内边距为0 */
	border: none; /* 隐藏边框 */
}
.no-border {
	border: none;
	vertical-align: top;
}
		
.sxyhButton_01 {
	background-color:#f0c911;
	border-radius:8px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:宋体;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	margin: 10px;
	width: 160px; 
	height: 28px;
	line-height: 28px;
}
.sxyhButton_01:hover {
	background-color:#f2ab1e;
}
.sxyhButton_01:active {
	position:relative;
	top:1px;
}

.sxyhButton_02 {
	background-color:#579438;
	border-radius:4px;
	border:0px solid #225522;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:宋体;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	margin: 5px;
	width: 120px; 
	height: 28px;
	line-height: 28px;
}
.sxyhButton_02:hover {
	background-color:#579438;
}
.sxyhButton_02:active {
	position:relative;
	top:1px;
}

.sxyhButton_03 {
	background-color:#579438;
	border-radius:1px;
	border:1px solid #4b8f29;;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:宋体;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-align: center;
	margin: 5px;
	width: 80px; 
	height: 24px;
	line-height: 24px;
}
.sxyhButton_03:hover {
	background-color:#579438;
}
.sxyhButton_03:active {
	position:relative;
	top:1px;
}

